img.profile-image {
    display:block;
    margin:0 auto;
}
.brick img{
    display: block;
    margin: 0 auto;
}
.intro h1, .intro h2 {
    margin: 20px auto;
    text-align: center;
}

.intro p {
    margin: 20px auto;
}